<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
<style>
    header {
        margin: 20px;
        color: pink;
    }
</style>
</head>

<body>

  <% include ../partials/nav.ejs %>
<header>
    <h1>hello node</h1>
</header>

</body>
</html>
